<template>
	<div id="content" class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="ui-section-label">
					<label>Sets:</label>
					<!-- <button id="create-set-button" class="btn-xs btn-primary" click.delegate="showSetWindow('new')">Add Set</button> -->
					<span class="form-add-new-link form-link" click.delegate="showSetWindow('new')"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp&nbspAdd Set</span>
				</div>
				<div class="ui-section">
					<table id="set-table" class="table table-striped ui-section scroll">
						<thead>
							<tr><th width="80%">Name</th><th width="20%"></th></tr>
						</thead>
						<tbody>
							<tr repeat.for="i of setList.length" id="set-row-${i+1}" class="set-row"><td class="filterable-cell" width="70%">${setList[i].name}</td><td class="filterable-cell" width="30%" style="text-align: right; padding-right: 2em"><button class="btn-xs btn-primary" click.delegate="editSet(i)">Edit</button>
							<!-- <button class="btn-xs btn-danger" click.delegate="removeSet(i)">Remove</button> --></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-5">
				<div id="edit-set-section">
					<div class="ui-section-label">
						<label>Edit Set:</label>
					</div>
					<div class="ui-section form-window">
						<form>

							<div class="form-group">
								<label>Name:</label>
								<input class="form-control" type="text" value.bind="activeSet.name"/>
							</div>

							<div class="form-group">
								<label>Items:</label>
								<div id="set-item-list" class="form-group">
									<table class="table table-striped">
										<tr repeat.for="index of activeSet.items.length" id="set-item-${index+1}" class="set-item" click.delegate="selectSetItem(index)"><td width="85%">${activeSet.items[index]}</td><td width="15%"><button class="btn btn-xs btn-primary" click.delegate="removeBarcode(index)">Remove</button></td></tr>
									</table>
								</div>
							</div>

							<div id="add-item" class="form-group">
								<label>Add item:</label>
								<div>
									<input class="form-control" type="text" value.bind="barcode" style="float: left; width: 60%"/>
									<button id="" class="btn btn-primary" click.delegate="addBarcode()" style="float: right">Add</button>
								</div>
							</div>

							<span class="message"></span>
							<div class="popup-window-buttons">
			    				<button id="borrower-id-submit" class="btn btn-primary" click.delegate="updateSet()">Update</button>
			    				<button id="borrower-id-clear" class="btn btn-primary" click.delegate="showSetWindow(false)">Close</button>
			    				<button id="remove-set-button" class="btn btn-danger" style="float: right" click.delegate="confirmRemoveSet()">Remove This Set</button> 
			    				<button id="remove-set-button-confirm" class="btn btn-danger" style="float: right; display: none" click.delegate="removeSet()">Click To Confirm</button> 
							</div>
						</form>
					</div>
				</div>

				<div id="new-set-section">
					<div class="ui-section-label">
						<label>Create New Set:</label>
					</div>
					<div class="ui-section form-window">
						<form>

							<div class="form-group">
								<label>Name:</label>
								<input class="form-control" type="text" value.bind="activeSet.name"/>
							</div>

							<div class="popup-window-buttons">
			    				<button id="borrower-id-submit" class="btn btn-primary" click.delegate="createSet()">Create</button>
			    				<button id="borrower-id-clear" class="btn btn-primary" click.delegate="showSetWindow(false)">Cancel</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>