<template>
	<div id="content">
		
		<div id="set-list" class="ui-section">

			<table class="table table-striped ui-section scroll">
				<thead>
					<tr><th width="10%"></th><th width="68%">Set</th><th width="22%">Status</th></tr>
				</thead>
				<tbody>
					<tr repeat.for="set of setList"><td class="filterable-cell" width="10%" style="padding-left:20px"><input type="checkbox" value=""></td><td class="filterable-cell" width="70%">${set.name}</td><td class="filterable-cell" width="20%">${set.status}</td></tr>
				</tbody>
			</table>

		</div>

	</div>

</template>
