<template>
	<div id="content" class="container">
		<div id="user-logout" class="row">
			<div if.bind="activeSession" class="col-md-12">
				<div style="float: right; margin-bottom: 0.7em; margin-top: 0.8em; margin-right: 1em">
					<span><a click.delegate="logout()" style="cursor: pointer; margin-left: 0.3em"><i class='fas fa-user' aria-hidden='true' style='margin-right: 5px; color: green'></i>&nbspLogout</a></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<div class="ui-section-label">
					<label>Sets:</label>
				</div>
				<div class="ui-section">
					<table id="set-table" class="table table-striped ui-section scroll">
						<thead>
							<tr><!-- <th width="10%"></th> --><th width="70%">Name</th><th width="30%">Status</th></tr>
						</thead>
						<tbody>
							<tr repeat.for="i of setList.length" id="set-row-${i+1}" class="set-row" click.delegate="onSelectSetRow(i)"><!-- <td class="filterable-cell" width="10%" style="padding-left:20px"><input type="checkbox" value=""></td> --><td class="filterable-cell" width="70%">${setList[i].name}</td><td class="filterable-cell" width="30%">${setList[i].status}</td></tr>
						</tbody>
					</table>
				</div>
				<div id="set-data">
					<div id="message-display"></div>
				</div>
				<div id="loan-data" if.bind="activeSet.loan">
					<label>Patron:</label>${activeSet.loan.username}<br />
					<label>DUID:</label>${activeSet.loan.userID}<br />
					<label>Due:</label>${activeSet.loan.due}<br />
				</div>
				<div id="set-buttons">
					<button id="checkout-button" class="btn btn-primary" click.trigger="checkOutSet()">Check Out</button>
		    		<button id="checkin-button" class="btn btn-primary" click.trigger="checkInSet()">Check In</button>
		    		<span class="message"></span>
				</div>
			</div>
			<div class="col-md-5">
				<div id="borrower-form">
					<div class="ui-section-label">
						<label>Select a Patron:</label>
					</div>
					<div class="ui-section form-window">
						<form>
							<div class="form-group">
			    				<input type="text" class="form-control" id="borrower-id-input" value.bind="borrowerID" click.trigger="onClickBorrowerIDInput()" placeholder="Enter DUID">
			    				<button id="borrower-id-submit" class="btn btn-primary" click.trigger="submitBorrowerID()">Enter</button>
			    				<button id="borrower-id-clear" class="btn btn-primary" click.trigger="clearActiveBorrower()">Clear</button>
			    				<!-- <span id="borrower-name">${activeBorrower.lname}<span if.bind="activeBorrower.id">,&nbsp</span>${activeBorrower.fname}</span>  -->
			    				<span id="borrower-name">${activeBorrowerDisplay}</span> 
							</div>
						</form>
					</div>
				</div>
				<div id="loan-details-form">
					<div class="ui-section-label">
						<label>Loan Period:</label>
					</div>
					<div class="ui-section form-window">
						<form role="form">
							<div class="form-group">
							  <label for="sel1">Days:</label>

							  <select class="form-control" id="day-select">
							    <option repeat.for="day of days">${day}</option>
							  </select>

							  <label for="sel1">Hours:</label>
							  <select class="form-control" id="hour-select">
							    <option repeat.for="hour of hours">${hour}</option>
							  </select>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>
