<template>

	<div id="content">
		
		<div id="set-list" class="ui-section">
			<table class="table table-striped ui-section">
				<tbody>
<!-- 					<% if (sets && sets.length > 0) { %>

						<% sets.forEach(function(set) { %>
							<tr><td width="10%"><input type="checkbox" value=""></td><td width="70%" style="max-width: 70%"><%= set.title %></td><td width="20%"><%= set.status %></td></tr>
						<% }); %>

					<% } else { %>
						<h3>No sets found</h3>
					<% } %> -->
				</tbody>
			</table>
		</div>

	</div>

</div>

</template>
