body {
	background-color: white;
	font-size: 14px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: #404040;
}

/* Header styles */

header#du-header {
	width: 100%;
	background-color: #8b2332;
}

div#du-red-header-inner {
	background-color: #8b2332;
	height: 50px;
	margin: auto;
	width: 99.5%;
}

span#du-logo {
	margin-top: 5px;
}

span#du-logo a img {
	height: 38px;
	width: 133px;
	margin-top: 5px;
	margin-left: 5px;
}

header#du-header {
	width: 100%;
	background-color: #8b2332;
}

#app-title {
	color: #e5e3e1;
    font-weight: bold;
    font-size: 17px;
    position: relative;
    top: 6px;
    left: 20px;
}

/* Main body styles */

#login {
    margin: auto;
    margin-top: 12%;
    width: 40%;
}

#login-form {
	padding: 1.5em;
}

#login-form button {
	margin-top: 1em;
}

.fa {
	color: #404040;
}

nav#navbar {
	background-color: #e5e3e1;
    height: 50px;
}

nav#navbar ul {
	padding-left: 1.4em;
	display: flex;
}

nav#navbar ul li {
	padding-top: 15px;
	list-style: none;
	padding-right: 2em;
}

nav#navbar ul li a {
	color: #292929;
	font-size: 16px;
}

nav#navbar ul li a:focus {
	text-decoration: none;
}

nav#navbar ul li a:hover {
	cursor: pointer;
	text-decoration: none;
	color: #292929;
}

div#banner {
	/*min-height: 60px;*/
	height: 45px;
	background-color: darkgrey;
	margin-top: 6em;
}

ul.menu {
	list-style: none;
    padding-top: 0.75em;
    padding-left: 1.5em;
    margin-bottom: 0px;
    display: inline-flex;
}

ul.menu li:not(:first-child) {
    margin-left: 2em;
}

ul.menu a {
	color: #404040;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	font-size: 18px;
	margin-left: 0.18em;
}


ul.menu li i.fa {
	color: #404040;
	padding-right: 4px;
}

div#main {
	margin: 5.5em auto 1em auto;
}

div#user-logout {
	margin-bottom: 3em;
}

div#content {
    background-color: #f7f7f7;
   /* min-height: 600px;*/
    padding: 0.5em 3em 3em 3em;
    /*height: 750px;*/
    height: auto;

    border-style: solid;
    border-width: 1px;
    border-color: #e5e3e1;
    border-radius: 2px;
}

.ui-section {
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
    border-width: 1px;
    border-color: #e5e3e1;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: white;
}

.ui-section-label {
    background-color: #e5e3e1;
    padding: 1em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 50px;
}

div.ui-section-label label {
	margin-bottom: 0;
}

table.table > tbody > tr > td {
	border-top: none;
	font-size: 13px;
}

table.table  th {
	font-size: 14px !important;
}

.form-link:hover {
	cursor: pointer;
}

span.form-add-new-link {
	float: right;
	color: #0BB3E4;
	margin-top: 2px;
	margin-right: 2px;
}

div#borrower-form > .form-window {
	height: 110px;
	padding-top: 2em
} 

div#loan-details-form {
	margin-top: 2em;
}

div.form-window {
	padding: 1.5em;
	/*float: right;*/
}

div#borrower-form input {
	width: 75%;
	display: initial;
	/*margin-bottom: 1.5em;*/
}

.form-group > select {
	margin-bottom: 1em;
}

div#loan-details-form .form-group > select {
	width: 30%;
}

div#borrower-form form div.form-group {
	margin-bottom: 0;
}

#borrower-name {
	float: left;
	position: relative;
	top: 11px;
    left: 20px;
    font-size: 14px;
}

div#set-data {
	margin-top: 1em;
}

div#message-display,
.message {
    font-size: 14px;
    margin-left: 1em;
    color: red;
}

table#set-table tr:hover {
	cursor: pointer;
	/*background-color: #0BB3E4;*/
}

div#set-buttons {
	margin-top: 1em;
}

div.popup-window-buttons {
	margin-top: 2em;
}

tr.set-item td button {
	background-color: darkgrey;
    border-style: none;
}

div#set-item-list {
	height: 150px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: #e5e3e1;
    border-radius: 4px;
    overflow-y: scroll;
}

div#set-item-list tr.set-item:hover {
	cursor: pointer;
}

div#add-item {
	height: 60px;
}

div#loan-data label {
	width: 80px;
	margin-left: 1em;
}

div#user-list {
	margin-top: 3em;
}


